<div class="hero_area">
    <div class="bg-box">
        <img src="~/feane-1.0.0/images/hero-bg.jpg" alt="">
    </div> 
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                @{ 
                    var menuTableId = Context.Request.Cookies["MenuTableId"] ?? "";
                } 
                <a class="navbar-brand" href="/Default/Index/@menuTableId"> 
                    <span>
                        MK Restoran
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Default" ? "active" : "")"> 
                            <a class="nav-link" href="/Default/Index/@menuTableId">AnaSayfa </a> 
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Menu" ? "active" : "")"> 
                            <a class="nav-link" href="/Menu/Index/@menuTableId">Menü <span class="sr-only">(current)</span> </a> 
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "FoodRapidApi" ? "active" : "")"> 
                            <a class="nav-link" href="/FoodRapidApi/Index/@menuTableId">Tarifler</a> 
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "BookATable" ? "active" : "")"> 
                            <a class="nav-link" href="/BookATable/Index/@menuTableId">Rezervasyon</a> 
                        </li>
                    </ul>
                    <div class="user_option"> 
                        <a href="/Baskets/Index/@menuTableId" class="order_online">
                            🛒 Sepete Git
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header> 
</div>